h1, .padded-h {
  font-family: 'Oswald', sans-serif;
  font-size: 4rem;
  line-height: 1.5;
  font-weight: 900;
  padding-top: 5%;
}

/* h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
} */


body {
  font-family: "Ubuntu";
  text-align: center;
}

#title {
  text-align: left;
}

.colored-section {
  background-color: #3498DB;
  color: #fff;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

.container-fluid {
  padding: 7% 15%;
}

.navbar-brand {
  font-size: 350%;
}

li {
  margin-right: 10%;
  font-size: 125%
}

.move-btn {
  margin-right: 25%
}

ul {
  margin-left: 50%;
  margin-right: 7%;
}

.rotate {
  transform: rotate(25deg);
  width: 20%;
  position: absolute;
  bottom: 15%;
  right: 25%;
  height: 65%;

}

#features {
  margin-top: 50px;
  padding-top: 50px;
  position: relative;
  z-index: 1;

}

.btn-margin {
  margin: 30px 30px 0 0;

}

.small-row {
  padding-right: 15%;
  padding-left: 10%;
  margin-top: 50px;
}

h3 {
  padding-top: 10px;
}

h2 {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

.i-special {
    color: #000080;
    font-size: 2.5em;
}

.i-special:hover {
  color: #BC8F8F;
}

.padded-p {
  padding-bottom: 75px;
}

#testimonials {

  text-align: center;
  background-color:  #FF7F50;
  color: #fff;

}

.testes {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
  position: relative;
  left: 13%;
}

.testes-text {
  margin-left: 13%;

}

.carousel-item {
    padding: 7% 15%;
}

#press {
  background-color:  #FF7F50;
  text-align: center;
  padding-bottom: 5%;
}

.logo {
  width: 15%;
  margin: 3% 3%;
}

.tnw {
  height: 60px;
}

#pricing {
  padding: 5%;
  text-align: center;
}

@media (max-width: 990px) {
  #title {
    text-align: center;
  }
  .rotate {
    padding-top: 100px;
    position: static;
    height: 500px;
    width: 220px;
    transform: rotate(0);
  }
}

.pp {
  font-size: 125%;
}

.love {
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 3% 15% 7% 15%;
  background-color: #ff4c68;
  color: #fff;
  font-weight: bold;
  text-align: center;

}

#footer {
  text-align: center;
  padding: 5% 0;
}

.margin-icon {
  margin-right: 10px;

}

.d-padded-p {
  margin-top: 8px;
}

.search {
  text-align: center;
}

.main-form {
  width: 75%;
  padding: 0 0 2% 25%;
}

.card-body {
  padding: 10% 0% 10% 0%;
}

ol {
  text-align: left;
}

li {
  padding-right: 0;
}

a {
  font-weight: bold !important;
}

.special-img {
  border-radius: 8%;
  height: 375px;
  width: 260px;
}

.reg-img {
  border-radius: 8%;
  height: 375px;
  width: 260px;

}

.anime-name {
  padding-left: 10px;
  display: block;
  width: 32ch;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
}

.cust-anime-name {
  padding-left: 10px;
  width: 30ch;
  display: block;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  display: block;
  font-size: 18px;
  color: var(--bs-nav-link-color);
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  
}



.cust-anime-name:hover {
  color: #0E4399;

}

.padding1 {
  padding-bottom: 70px;
}

.padding2 {
  padding-bottom: 45px;
}

.padding3 {
  padding-bottom: 82px;
}

/* .anime-display {
  margin-top: 70ch;
} */


/* HTML Nav Styles */
/* HTML Nav Styles */
/* HTML Nav Styles */
nav menuitem {
   position:relative;
   display:block;
   opacity:0;
   cursor:pointer;
}

nav menuitem > menu {
   position: absolute;
   pointer-events:none;
}
nav > menu { display:flex; }

nav > menu > menuitem { pointer-events: all; opacity:1; }
menu menuitem a { white-space:nowrap; display:block; }
   
menuitem:hover > menu {
   pointer-events:initial;
}
menuitem:hover > menu > menuitem,
menu:hover > menuitem{
   opacity:1;
}
nav > menu > menuitem menuitem menu {
   transform:translateX(100%);
   top:0; right:0;
}
/* User Styles Below Not Required */
/* User Styles Below Not Required */
/* User Styles Below Not Required */

.nav { 
   margin-top: 40px;
   margin-left: 40px;
}

.nav a {
   background:#000033;
   color:#FFF;
   min-width:190px;
   transition: background 0.5s, color 0.5s, transform 0.5s;
   margin:0px 6px 6px 0px;
   padding:20px 40px;
   box-sizing:border-box;
   border-radius:3px;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
   position:relative;
}

.nav a:hover:before {
   content: '';
   top:0;left:0;
   position:absolute;
   background:rgba(0, 0, 0, 0.2);
   width:100%;
   height:100%;
}

/* nav > menu > menuitem > a + menu:after{
   content: '';
   position:absolute;
   border:10px solid transparent;
   border-top: 10px solid white;
   left:12px;
   top: -40px;  
} */
/* nav menuitem > menu > menuitem > a + menu:after{ 
   content: '';
   position:absolute;
   border:10px solid transparent;
   border-left: 10px solid white;
   top: 20px;
   left:-180px;
   transition: opacity 0.6, transform 0s;
} */

nav > menu > menuitem > menu > menuitem{
   transition: transform 0.6s, opacity 0.6s;
   transform:translateY(150%);
   opacity:0;
}
nav > menu > menuitem:hover > menu > menuitem,
nav > menu > menuitem.hover > menu > menuitem{
   transform:translateY(0%);
   opacity: 1;
}

/* menuitem > menu > menuitem > menu > menuitem{
   transition: transform 0.6s, opacity 0.6s;
   transform:translateX(195px) translateY(0%);
   opacity: 0;
}  */
/* menuitem > menu > menuitem:hover > menu > menuitem,  
menuitem > menu > menuitem.hover > menu > menuitem{  
   transform:translateX(0) translateY(0%);
   opacity: 1;
} */



.anime-name:hover {
  color: #154360;
}

.trio {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
}

.searches {
  text-align: left;
  padding-left: 16%;
}

.recommendations_header {
  font-family: "Helvetica Medium", sans-serif;
  font-size: var(--text-22);
  margin-bottom: 2rem;
}

.recommendation_list {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 8%;
  margin-right: 8%;
  text-align: center;
  font-size: 17px;
}

.new-rec-list {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  font-size: 17px;
  margin-left: 5%;
  margin-right: 5%;
}

.rec-header {
  text-align: center;
  padding-bottom: 5%;
  font-size: 35px;
}

.nav-link {
    display: block;
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.feature-text {
  color: #DBE9FA;
  
}

#hot {
  background-color: #C9DFEC;
  position: relative;
  top: -50px;
  padding-bottom: 150px;
}

.fix-nav {
  position: fixed;
  z-index: 100;
}

.p-4 {
  padding-top: 1.5rem!important;
  padding-bottom: 0!important;
}

.nav2 {
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  color: #f0f8ff;
  font-weight: lighter;
}

.my-btn {
  position: relative;
  left: 94%;
  
}
.filter {
  padding-left: 25%;
  margin-bottom: 8%;

}

.genre {
  text-decoration: none;
  font-family: 'Ubuntu';
  font-size: 18px;
}

.spec-genre {
  text-decoration: none;

  font-size: 18px;
}

@media screen and (max-width: 991px) {
  .recommendation_list {
    padding-left: 12%;
    width: 260px;
  }
  .demo {
    width: 0;
    padding-right: 140px;
    padding-left: 7vw;

  }
  .my-btn {
    position: relative;
    left: 90%
  }
  .pls {
    width: 100%;
  }
  body {
    margin: 0;
  }
  .nav {
    padding: 0vw;
    padding-top: 40px;
    margin: 0;
  }
  .filter {
    padding: 0vw;
    width: 20px;
    padding-left: 7%;

  }
}

@media screen and (max-width: 700px) {
  .recommendation_list {
    padding-left: 9%;
  }
  .demo {
    width: 0;
    padding-right: 140px;
    padding-left: 5vw;

  }
  .my-btn {
    position: relative;
    left: 90%
  }
  .pls {
    width: 100%;
  }
  body {
    margin: 0;
  }
  .nav {
    padding: 0vw;
    padding-top: 40px;
    margin: 0;
  }
  .filter {
    padding: 0vw;
    width: 20px;

  }
}

@media (max-width: 500px) {
  .recommendation_list {
    padding-left: 7%;
  }
  .demo {
    width: 0;
    padding-right: 140px;
    padding-left: 1.5vw;

  }
  .my-btn {
    position: relative;
    left: 90%
  }
  .pls {
    width: 100%;
  }
  body {
    margin: 0;
  }
  .nav {
    padding: 0vw;
    padding-top: 40px;
    margin: 0;
  }
  .filter {
    padding: 0vw;
    width: 20px;

  }
}


@media (max-width: 450px) {
  .my-btn {
    position: relative;
    left: 84%
  }
}
