<!DOCTYPE html>
<html lang="en">
   <head>
      <link rel="stylesheet" href="help.css?v=10" type="text/css"/> 
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Your result</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
      <link
         rel="stylesheet"
         href="{{url_for('static', filename='css/global.css')}}"
         />
      <link
         rel="stylesheet"
         href="{{url_for('static', filename='css/style.css')}}"
         />
      <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/styles.css')}}"
      />
      <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.googleapis.com"> 
      <link rel="preconnect" href="https://fonts.googleapis.com"> 
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
      <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Ubuntu&display=swap" rel="stylesheet">

      
     
   <body>
    
      <div class="pos-f-t">
         <div class="collapse" id="navbarToggleExternalContent">
           <div class="bg-primary p-4">
             <a class="nav-link nav-queries navbar-brand nav2" href="/">Home</a><br>
             <a class="nav-link nav-queries navbar-brand nav2" href="/result">Results</a>
           </div>
         </div>
         <nav class="my-nav navbar navbar-dark bg-primary">
           <button class="navbar-toggler my-btn" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
           </button>
         </nav>
       </div>
      
      <center>
<div class="pls">
<nav class="nav">
    <menu class="filter">
      <menuitem class="demo" id="demo1">
        <a class="spec-genre">Genre</a>
        <menu>
        
         <menuitem>
         <a class="isekai genre">Isekai</a>
         </menuitem>
         
               <menuitem>
                  <a class="romance genre">Romance</a>
               </menuitem>
          <menuitem><a class="action genre">Action</a></menuitem>
          <menuitem><a class="shounen genre">Shounen</a></menuitem>
          <menuitem><a class="seinen genre">Seinen</a></menuitem>
          <menuitem><a class="adventure genre">Adventure</a></menuitem>

        </menu>
      </menuitem>
      <menuitem class="demo" id="demo2">
      <a class="spec-genre">Age Group</a>
      <menu>
        <menuitem><a class="pgthirteen genre">PG-13</a></menuitem>
        <menuitem><a class="rplus genre">R+</a></menuitem>
        <menuitem><a class="r genre">R</a></menuitem>
        <menuitem><a class="pg genre">PG</a></menuitem>

      </menu>
    </menuitem>
    <menuitem class="demo" id="demo3">
      <a class="spec-genre"><span class="hide-year">Release </span>Year</a>
      <menu>
        <menuitem><a class="yearone genre">2018-Current</a></menuitem>
             <menuitem>
                <a class="yeartwo genre">2012-2017</a>
             </menuitem>
        <menuitem><a class="yearthree genre">2005-2011</a></menuitem>
        <menuitem><a class="yearfour genre">2000-2004</a></menuitem>
        <menuitem><a class="yearfive genre">1990-1999</a></menuitem>

      </menu>
    </menuitem>
    </menu>
  </nav>
</div>
</center>

      <div class="container">
         <div class="recommendations">
            <div class="recommendation_list">
              {% if data %}
              {% if 3 > data|length %}
                  {% set batch_size = 1%}
              {% elif data|length % 3 == 0 %}
                  {% set batch_size = data|length // 3%}
              {% else %}
                  {% set batch_size = data|length // 3 + 1%}
               
              {% endif %}
              {% for row in data|batch(batch_size) %}
              <div class="columns">
               {% for column in row %}
              
             
               {% if column[6]|length == 0 %}
                  {% set class = "padding3"%}
               {% elif column[0]|length > 29 %}
                  {% set class = "padding2"%}
               {% else %}
                  {% set class = "padding1"%}

               {% endif %}
               <div class="column">
                   <img class="special-img" src="{{ column[1] }}"><br>
                   <a class="anime-name nav-link" href="https://myanimelist.net/anime/{{ column[-1] }}">{{ column[0] }}</a>
                   <p class="{{ class }}">{{ column[6] }}</p>
               </div>
               {% endfor %}
               </div>
               
               {% endfor %}
              {% endif %}

              {% if not data %}
              <div class="no_content">
                <p class="no_content_paragraph">There are no movies that matched the search query :(</p>
              </div>
              {% endif %}
            </div>
         </div>
      </div>
      <script>
var elems = document.querySelectorAll('.genre') 
for (var i = 0; i < elems.length; i++) {
  elems[i].addEventListener('click', function() {
    var btn = this.innerHTML
    window.location.href = '/filter/'.concat(btn.toLowerCase())
})

}
// var elem1 = document.querySelector('.isekai')
// elem1.addEventListener('click', () => {
//     window.location.href = '/filter/isekai'
// })

// var elem2 = document.querySelector('.romance')
// elem2.addEventListener('click', () => {
//     window.location.href = '/filter/romance'
// })

// var elem3 = document.querySelector('.action')
// elem3.addEventListener('click', () => {
//     window.location.href = '/filter/action' 
// })

// var elem4 = document.querySelector('.shounen')
// elem4.addEventListener('click', () => {
//     window.location.href = '/filter/shounen'
// })

// var elem5 = document.querySelector('.seinen')
// elem5.addEventListener('click', () => {
//     window.location.href = '/filter/seinen'
// })

// var elem6 = document.querySelector('.adventure')
// elem6.addEventListener('click', () => {
//     window.location.href = '/filter/adventure'
// })

// var elem7 = document.querySelector('.pgthirteen')
// elem7.addEventListener('click', () => {
//     window.location.href = '/filter/pg-13'
// })

// var elem8 = document.querySelector('.rplus')
// elem8.addEventListener('click', () => {
//     window.location.href = '/filter/r+'
// })

// var elem9 = document.querySelector('.r')
// elem9.addEventListener('click', () => {
//     window.location.href = '/filter/r'
// })

// var elem10 = document.querySelector('.pg')
// elem10.addEventListener('click', () => {
//     window.location.href = '/filter/pg'
// })

// var elem11 = document.querySelector('.yearone')
// elem11.addEventListener('click', () => {
//     window.location.href = '/filter/2018-current'
// })

// var elem12 = document.querySelector('.yeartwo')
// elem12.addEventListener('click', () => {
//     window.location.href = '/filter/2012-2017'
// })

// var elem13 = document.querySelector('.yearthree')
// elem13.addEventListener('click', () => {
//     window.location.href = '/filter/2005-2011'
// })

// var elem14 = document.querySelector('.yearfour')
// elem14.addEventListener('click', () => {
//     window.location.href = '/filter/2000-2004'
// })

// var elem15 = document.querySelector('.yearfive')
// elem15.addEventListener('click', () => {
//     window.location.href = '/filter/1990-1999'
// })


        document.addEventListener('click', e => {
          if (!e.target.closest('.card')) return

          const card = e.target.closest('.card')
          const link = card.dataset.redirect

          window.open(`https://www.google.com/search?q=${link}`, "_blank")
        })
      </script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 
      <script src="{{url_for('static', filename='js/index.js')}}"></script>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
   </body>
</html>

